.big-font {
  font-family: Fira Code;
  font-size: 80px;
  font:800;
}

.my-font {
  font-family: Fira Code;
  font-size: 30px;
  font:800;
}
.betop{
  position:fixed;
  top:0;
}
.message{
   text-align:left; 
}
.whole{
  width:80%;
  margin:auto;
  left:0;
  right:0;
  padding-top:10px;
}
